@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.b-img{
    width: 100vw;
    height: 100vh;
    background-image: url(./img/Desktop\ LowHD.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
  }

.school-logo{
    width: 36%;  
}

.Login-Header{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #004383;
}

.input-container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.icon-container{
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding-top: 7px;
  width: 15%;
  background-color: #004383;
  border: 1px solid #004383;
}

.Login-input-field{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 85%;
    padding: 7px 10px;  
    font-size: 1rem;
    border: 1.5px solid #004383;
    border-radius: 0 5px 5px 0; 
}

.Forget-pass{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #004383;
    text-decoration: none;
}

.Login-btn{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #004383;
    border: 2px solid #004383;
    border-radius: 5px;
}

.Login-btn:hover{
  background-color: #01274b;
  border: 2px solid #01274b;
}

.student-img{
  display: none;
  margin-top: 2.5rem;
  width: 100%;
  height: auto;
}

/* For Mobile */
@media screen and (max-device-width: 650px)
and (orientation: portrait) {
  .b-img{
    background: url(./img/Mobile-Background-img.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .student-img{
    display: block;
  }
}

/* For Tablet View */
@media screen and (min-device-width: 651px)
and (max-device-width: 1023px) {
  .b-img{
    background: url(./img/Tab\ Horizontal.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;;
  }
}
